<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--
    <add key="StorageConnectionString1" value="DefaultEndpointsProtocol=https;AccountName=krishnatesthfhhf;AccountKey=OM06MEyOw+1gkF3UWbp/4G4577IdGFJEvoRAvXndom5hPBWTT5lfT+9eFvq1ktRBP5VFOEDnvELgvEfZhfgNIQ==;EndpointSuffix=core.windows.net" />
    <add key="StorageConnectionString2" value="DefaultEndpointsProtocol=https;AccountName=ravitesthf;AccountKey=vlJTIHsj5mw3jLepkYkOrniLyoRax2vaGK9m9tCt9oYvhn9UQIYvXilg3AYftYHRhpyZqug7tVx5Hxn7YbWHKQ==;EndpointSuffix=core.windows.net" />
    -->
    <add key="StorageConnectionString3" value="DefaultEndpointsProtocol=https;AccountName=afimssav;AccountKey=ZiLCuZ6WvK8aZYLzXUNbTn+Tjl1hhPMaOeBhIdi00Urk8nTl3fwAsyCkXOXXcYzsjlBDDNG1Sahgte0q/3SJgQ==;EndpointSuffix=core.windows.net" />
  <!--
    <add key="clientId"                 value="6b80f7db-7f71-4ef8-b412-9b2019a18d18"/>
    <add key="clientsecretkey"          value="PsilcW9hQPNYQi9raC4t7Mi/kCstwLdEcWcTU+0HLD4="/>
    <add key="tenantId"                 value="fa23f4b5-cee9-4c9e-a774-d31b0f10c151"/>
    <add key="subscriptionId"           value="d4df43b2-6edc-4263-b1b6-c600b660640f"/>
  --> 
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.3.0.0" newVersion="9.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.4.0.0" newVersion="9.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.19.0.0" newVersion="1.19.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>